In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
url = "D:/Coding/Pembelajaran Mesin/Pembelajaran_Mesin/Pratikum9/Data/Obat.xlsx"
df = pd.read_excel(url)
df.head()

   No      Nama Barang   Harga  Kualitas   Animo   Beli
0   1  Aminstratop 100   Mahal     Super  Sedang     Ya
1   2  Aminstratop 250   Mahal     Super  Rendah     Ya
2   3         Antracol   Murah     Super  Tinggi     Ya
3   4            Akara   Murah    Medium  Tinggi     Ya
4   5          Bioimun  Normal  Standart  Rendah  Tidak

In [3]:
clos = ['No', 'Nama Barang']
df = df.drop(clos, axis=1)
df.head()

    Harga  Kualitas   Animo   Beli
0   Mahal     Super  Sedang     Ya
1   Mahal     Super  Rendah     Ya
2   Murah     Super  Tinggi     Ya
3   Murah    Medium  Tinggi     Ya
4  Normal  Standart  Rendah  Tidak

In [4]:
# Transformasi Tabel
def transform_harga(harga):
    if harga == 'Murah':
        return 0
    elif harga == 'Normal':
        return 1
    elif harga == 'Mahal':
        return 2

df['Harga'] = df['Harga'].apply(transform_harga) # Melakukan transformasi data
df['Harga'].head()

0    2
1    2
2    0
3    0
4    1
Name: Harga, dtype: int64

In [5]:
# Transformasi Tabel
def transform_kualitas(kualitas):
    if kualitas == 'Standart':
        return 0
    elif kualitas == 'Medium':
        return 1
    elif kualitas == 'Super':
        return 2

df['Kualitas'] = df['Kualitas'].apply(transform_kualitas) # Melakukan transformasi data
df['Kualitas'].head()

0    2
1    2
2    2
3    1
4    0
Name: Kualitas, dtype: int64

In [6]:
# Transformasi Tabel
def transform_animo(animo):
    if animo == 'Rendah':
        return 0
    elif animo == 'Sedang':
        return 1
    elif animo == 'Tinggi':
        return 2

df['Animo'] = df['Animo'].apply(transform_animo) # Melakukan transformasi data
df['Animo'].head()

0    1
1    0
2    2
3    2
4    0
Name: Animo, dtype: int64

In [7]:
# Transformasi Tabel
def transform_beli(beli):
    if beli == 'Tidak':
        return 0
    elif beli == 'Ya':
        return 1

df['Beli'] = df['Beli'].apply(transform_beli) # Melakukan transformasi data
df['Beli'].head()

0    1
1    1
2    1
3    1
4    0
Name: Beli, dtype: int64

In [8]:
df

    Harga  Kualitas  Animo  Beli
0       2         2      1     1
1       2         2      0     1
2       0         2      2     1
3       0         1      2     1
4       1         0      0     0
5       1         1      0     1
6       1         1      0     1
7       0         1      2     1
8       2         0      0     0
9       2         2      0     1
10      0         2      0     1
11      1         2      2     1
12      0         2      2     1
13      1         1      0     0
14      0         1      0     0
15      0         1      0     1
16      0         0      0     0
17      1         1      0     1
18      2         1      0     0
19      0         1      0     0
20      2         2      2     1
21      0         2      2     1
22      0         0      0     0
23      0         0      1     0

In [9]:
# data x berupa tabel harga, kualitas, animo
# data y berupa tabel beli
X = df[['Harga', 'Kualitas', 'Animo']]
y = df[['Beli']]

In [10]:
# Untuk Pembagaian data, hasil akurasi yang terbaik ada di 90:10 menghasilkan akurasi 100
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.03, random_state=0)

In [11]:
model = RandomForestClassifier(n_estimators=100, random_state=0)
model.fit(X_train, y_train)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23196\2230539896.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [12]:
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         1

    accuracy                           1.00         1
   macro avg       1.00      1.00      1.00         1
weighted avg       1.00      1.00      1.00         1